@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color:#eee;
  font-family: 'Noto Sans KR', sans-serif;
}
.title {
  font-family: 'Noto Serif KR', serif;
  color:#eee;
  position: absolute;
  top: 60px;
  left: 80px;
}
.header {
  width:100%;
  height: 450px;
  background-image:url("https://lh3.googleusercontent.com/CrgswWv45TlGL9nkpAy8kIKqSYl7fqdvYj5WFuVJqqErSYhaMavf3tr1Ug17-l9IVXjXMKi0ImZvdQPF4OqNvAq8g0olL4g3pDq1WnJum_vWF4-Z9f8ANf9dxvMGAOceQaEWcG4EuMiHybuu5wd-Wb8nmwZaFK_AWjR-y_uObN1mrDi1AIeJz_KgcG55zpkpSw4PVTPVpIgCzFwSYpoHht_HDdquL1R0yDt1RZuHsO4iigN6RgEDCzU8mo5ko3MA17D1nkSyNjrqNJADworDcKdXeoTx2rKIorGlULn8-jONt0N9zomF5yOKg3O3U7cN1_mkpCplQHQK9lCKIBBI_4BEsdsd6nyA92PKaFwb5jMrhZfbJrOp6LfLzbZaisg29UW1zdxk1ujFuZDU3ADAqy3fmUp62iKGOj07Ps0ZULpxr_9gpEyt4WkbLcmUupDi9CeUkM4uYYeaRUQhrX73AHZzA5HjgzKXlqRC5uMksIcWrs3cinMxwkvMkX2kMLlYR1Aecc-aSMX4ul_jqzxggF8UGmiUChWYSPr68SChK5uqAi1Sh3DAfruvAHH0drjg-HYQasE015E6B-Irdm8SGsklv0QuMJkHv3z5iH5HUSJmZz9hW1zHoXbpatETyW5LOovOUCS5wu1V06iT1T8RkL0xmp6yMZDqVinHegPiDzKEt2OLwgdkvzMPgWMF_MgzOkxVylUI-Dw_fr2g2gsORQW7HeYpz83_zarsrzTNOFFrxQK559k_NCbWfhEHqPi8QCgjlD7M6VuO23Ka3YMM4NhFXxCY0M__1mByySnx7wzR-RrdPwgI1hoAvjHoQ8Il_8dpGbM7Tmvdo86amIndXJsuzaXuBTzUFsTLSZcvIgW-RvKJvqBBy3WgoAi0XZVKVvsSmi2wVXELX0vOMWnf9roXY45GvDikCKeWhkwaKz4j=w1889-h543-no?authuser=0")
}

.footer {
  background-color: #282828;
  color:lavender;
  text-align: center;
  width: 100%;
  height: 100px;
}

.thumb-up {size: 0.5em;}
.thumb-up:hover {
  cursor: pointer;
}
.post-modal {
  border: 1px solid #696666;
  background-color: white;
  border-radius: 0.5rem;
}

.Wrapper-posts, .emotion-card {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 50px;
  border: 3px solid rgb(197, 197, 197);
  border-radius: 0.5rem;
}

.post-list-box span:hover {
  cursor: pointer;
}

.feedback-modal {
  position: absolute;
  top: 450px;
  right: 200px;
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  border: 2px solid darkgray;
  border-radius: 0.8rem;
}

.modal-box {
  background-color: lightgray;
  text-align: left;
  border-radius: 0.3rem;
}
.modal-btn{
  border: none;
}
.modal-btn:hover{
  background-color: #D2E1FF;
}

.themes {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  height: 280px;
  background-image: url("https://lh3.googleusercontent.com/k8epcJOZ6koH3lPNDgeLWY2azKY0pnI8NS0MjKe6PPwtGwgV5Pyct71mCPtC0N0t4WcWk8DzCnfjYHG1IPwWMf7hYfcZhKV8pIU_dLByxVv8oC-sxoD9yOG3hADscixmDE9msW1TyljX6Hp_IFeg52gsP1-G7Ovkxg5Xa5TCi9oifp6_xuGNRM_0Ji_npIcMUD2cnFVDg0nH7lA7dhckjMUVgvvDIxdBjjKxd7_tX_lOyspN7YVE_y2MTpKXHFxFkTHZJq0frO_iZkYxtozHRuel9TduJ_9-NKAjCh2w9Y5OLuJE6aPAkeJm1hKfH_x1REQ8s1U8SbhW6JqcEO2IMuLBa01tMsqN-p47483EVxEpXDLeyi1P3y_6Rv71EyLikVnXePa5_Lg9ZdZLZx_PqmgBUFr7KwBVDU7fOKTu9W7L49ZC-TzW9mP3S4NevtEdKdSAmEF8TzGqRHCzbj89RtP6_T5hZYjW4twbwTA9BtH-Fj8rf1Rdfib1cLUrnnJPMZB-2xtFBmyRkq8PIG_b4JhsUVgmBW57cB0GZF35oDITtKIclm7AAQ9m7HN60jnqtRa0KiMP0-UtLW6-6tVRLGUBS_C3HCqH_L2d1r9bJR-e6SPOd5CUdb_zFiLLQabBiabviXYju1SSl6Pa9t-ux5jHi19wXpVbnI3okAmLwmD2mtEzOITp37Y2XcKAQAzotzglpzMqOt_E8AGzQvNCXyfqXp08AWpgFlmDvWqVX2HxFCgBu6YDGUOnMq2pp-j-mw5eoQmArUvRCAGeJpmLdrJodGDhCm82y76Jk7WBIjGR-9kqsSgYiyZzv6pS5DRIRjZ4Cj15k3RSc9nPw_iOTDw4AcSlytAgqftc1l9c7v88w0RhYdgMHc-N9et7rqWpFuK5jnYw0hC2H9OQLKTzb0Mb4wL4J1GohFLq3WDIGHKQ=s858-no?authuser=0");
}

.themes ul, .themes li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 30px;
  cursor: pointer;
}
.themes ul li:hover {
  transition: all 0.5s;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}
.feedback-btn:hover {
  transition: all 0.8s;
  font-weight: bolder;
  font-size: large;
  color: #99785b;
  cursor: pointer;
}
.theme-btn:hover {
  transition: all 0.8s;
  background-color: black;
  border-radius: 80%;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}

.post-detail {
  margin-top : 20px;
  padding : 20px;
  background : #eee;
}

.mypage-box {
  background-color: #dae1e9;
  border-radius: 0.8rem;
  margin-bottom: 30px;
}

.writeform, .post-modal {
  border: 2px solid darkgray;
  border-radius: 8px;
  padding: 50px 80px;
  margin: 50px 20px;
  overflow-y: scroll;
}
.title-input {
  width: 500px;
  height: 30px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
.content-input {
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 600px;
  height: 200px;
}
.addpost-btn{
  padding: 5px 10px;
  border: none;
}
.delete-btn {
  padding: 5px 10px;
  border: none;
  float: right;
}
.addpost-btn:hover, .delete-btn:hover {
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
	transform: scale(1.02);
  background-color: #D2E1FF;
}

.post-detail, .write-btn, .add-emotion {
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 0.5rem;
}
.post-detail:hover, .write-btn:hover, .add-emotion:hover {
  cursor: pointer;
  transition: all 0.2s;
	transform: scale(1.05);
  background-color: #D2E1FF;
}
.modify-btn1, .modify-btn2  {
  border-radius: 0.3rem;
}
.modify-btn1:hover, .modify-btn2:hover {
  transform: scale(1.1);
}

.emotion-card {
  margin: 50px 20px;
  border: 2px solid darkgray;
  background: #eee;
  border-radius: 8px;
  overflow: hidden;
  height: 150px;
}
