@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@600&display=swap');
*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color:#eee;
}
.title {
  font-family: 'Noto Serif KR', serif;
}
.header {
  width:100%;
  height: 320px;
  background-image: url("https://lh3.googleusercontent.com/4ufxyj5Wq-0gYfHb75iGH3fNyi35ZLD6aHDekzsdGt0ZoP7XYRldYYxTyea_l2Moft9rFbrqkWd5iIE2mjskzLmBosLhix9lrvcy_rbJOy1NHm6qzwAzFZhPPK22rrw20gGKnZEJKXc_K3INuIalCxC57BmDZqm7Trl1ERHCx48kvmNe52aNpGmDB96EDJG-AXsOENCQlmJrgC760AGryPPGbjDvQo0tag8zW1eAOgnIfylUDO6YkG6uaPqF4VM2e71afcuVg2bJRISWmWFYosFRVjMpSgDKLGL0KCw-PMGSHi_lTn0tZLg5nvfYcpBb6V6orEXu7Om3rK3C5mZDjEQzdaWX9TCidTZ-7Dzqx_drLcBe40YxBepLEcjEiw03cXJ9ADKx3eJ4GbwJE-xU2qHflLkgS_vT8xySIKdGnfy3RAZFdgpfR2gLiLZ3lnJUiTqZSfPbCb5ldFaKQ_3LnyuPtgirIUFk1J5n_PBHRdCX1ZV9t2igntzEqINhZAd39tqwmuV65Y1JdW8GVj1-weP2ROK036YQzaDSPbPAx_xGPsLtg47N6bMtKKUpwFPuLC4HwRzc42VZbB_nwIGz_acV9ruvO7yaPvxX8BQIWI3n_LE_otoNqcfxK_PIsb7Ju4W2CgJVm1sfPAAOUemsdkf3avTxJb4AXqtcpDo1rmQjCkE5HuLVg9La8UGPFtx4xTtxsOacFyT0gAG0xnkKJE5Tgg6gu6QCyzloln2hyC5YQZ83hipDV5VoZj5l2SCujNxAo8_GeoOmR-iWnErEb2R0qY82LtXdrXu74Reqbnhecz7sNZEZQClW166fFc6azo6dE_JQhpsJr4DMa3xlpzyQhNgOHVqARmgdqIFQzrMSnBj6rVw2tNDKFAz6B_Za2zMHn1wlApslGieN4diMuMrmg95DR6Ff4cnnnVAru7Co=w1148-h330-no?authuser=0");
}
.title {
  color:#eee;
  position: absolute;
  top: 60px;
  left: 80px;
}

.footer {
  border: 1px dotted #696666;
  background-color:whitesmoke;
  text-align: center;
  width: 100%;
  height: 100px;
}

.thumb-up {size: 0.5em;}
.thumb-up:hover {
  cursor: pointer;
}
.post-modal {
  border: 1px solid #696666;
  background-color: white;
  border-radius: 0.5rem;
}

.Wrapper-posts, .emotion-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 50px;
  border: 3px solid rgb(197, 197, 197);
  border-radius: 0.5rem;
}

.post-list-box span:hover {
  cursor: pointer;
}

.feedback-modal {
  position: absolute;
  top: 450px;
  right: 200px;
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  border: 2px solid darkgray;
  border-radius: 0.8rem;
}

.modal-box {
  background-color: lightgray;
  text-align: left;
  border-radius: 0.3rem;
}
.modal-btn, .modify-btn{
  border: none;
}
.modal-btn:hover, .modify-btn:hover{
  background-color: #FFF978;
}


.themes {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 95%;
  height: 280px;
  background-image: url("https://lh3.googleusercontent.com/k8epcJOZ6koH3lPNDgeLWY2azKY0pnI8NS0MjKe6PPwtGwgV5Pyct71mCPtC0N0t4WcWk8DzCnfjYHG1IPwWMf7hYfcZhKV8pIU_dLByxVv8oC-sxoD9yOG3hADscixmDE9msW1TyljX6Hp_IFeg52gsP1-G7Ovkxg5Xa5TCi9oifp6_xuGNRM_0Ji_npIcMUD2cnFVDg0nH7lA7dhckjMUVgvvDIxdBjjKxd7_tX_lOyspN7YVE_y2MTpKXHFxFkTHZJq0frO_iZkYxtozHRuel9TduJ_9-NKAjCh2w9Y5OLuJE6aPAkeJm1hKfH_x1REQ8s1U8SbhW6JqcEO2IMuLBa01tMsqN-p47483EVxEpXDLeyi1P3y_6Rv71EyLikVnXePa5_Lg9ZdZLZx_PqmgBUFr7KwBVDU7fOKTu9W7L49ZC-TzW9mP3S4NevtEdKdSAmEF8TzGqRHCzbj89RtP6_T5hZYjW4twbwTA9BtH-Fj8rf1Rdfib1cLUrnnJPMZB-2xtFBmyRkq8PIG_b4JhsUVgmBW57cB0GZF35oDITtKIclm7AAQ9m7HN60jnqtRa0KiMP0-UtLW6-6tVRLGUBS_C3HCqH_L2d1r9bJR-e6SPOd5CUdb_zFiLLQabBiabviXYju1SSl6Pa9t-ux5jHi19wXpVbnI3okAmLwmD2mtEzOITp37Y2XcKAQAzotzglpzMqOt_E8AGzQvNCXyfqXp08AWpgFlmDvWqVX2HxFCgBu6YDGUOnMq2pp-j-mw5eoQmArUvRCAGeJpmLdrJodGDhCm82y76Jk7WBIjGR-9kqsSgYiyZzv6pS5DRIRjZ4Cj15k3RSc9nPw_iOTDw4AcSlytAgqftc1l9c7v88w0RhYdgMHc-N9et7rqWpFuK5jnYw0hC2H9OQLKTzb0Mb4wL4J1GohFLq3WDIGHKQ=s858-no?authuser=0");
}

.themes ul, .themes li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-right: 30px;
  cursor: pointer;
}
.themes ul li:hover {
  transition: all 0.5s;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}
.feedback-btn:hover {
  transition: all 0.8s;
  font-weight: bolder;
  font-size: large;
  color: #99785b;
  cursor: pointer;
}
.theme-btn:hover {
  transition: all 0.9s;
  font-weight: bolder;
  font-size: large;
  cursor: pointer;
}

.post-detail {
  margin-top : 20px;
  padding : 20px;
  background : #eee;
}

.mypage-box {
  background-color: #dae1e9;
  border-radius: 0.8rem;
  margin-bottom: 30px;
}

.writeform, .post-modal {
  border: 1px solid gray;
  border-radius: 0.5rem;

  padding: 50px 80px;
  margin: 50px 20px;
}
.title-input {
  width: 500px;
  height: 32px;
  font-size: 15px;
  border: 0;
  border-radius: 15px;
  padding-left: 10px;
  background-color: rgb(233, 233, 233);
}
.delete-btn {
  display: contents;
  border: 1px solid black;
}
.post-detail, .write-btn {
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 0.5rem;
}
.post-detail:hover, .write-btn:hover {
  cursor: pointer;
  transition: all 0.2s;
	transform: scale(1.05);
  background-color: #FAFABE;
}
.modify-btn1, .modify-btn2  {
  border-radius: 0.3rem;
}
.modify-btn1:hover, .modify-btn2:hover {
  transform: scale(1.1);
}

