*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

.header {
  background-color: #bebebe;
  width: 100%;
  height: 250px;
}
.header > h5 {
  display:inline;
}

.header > h5:hover {
  font-weight: bolder;
  background-color: lightgray;
  color: darkgoldenrod;
  cursor: pointer;
}

.footer {
  background-color: #5b5b5b;
  text-align: center;
  width: 100%;
  height: 200px;
}

.post-list-box, .guest-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 50px;
  margin: 10px 20px;
}
.post-list-box span:hover {
  cursor: pointer;
}
.postlist {
  border: 1px solid black;
  border-radius: 0.5rem;
}
.postlist span {
  float: right;
  margin-right: 50px;
}

.feedback-modal {
  width: 300px;
  height: 200px;
  background-color: whitesmoke;
  border: 2px solid darkgray;
  border-radius: 0.8rem;
}

.modal-box {
  background-color: lightgray;
  text-align: left;
  border-radius: 0.3rem;
}
.modal-btn, .modify-btn{
  border: none;
}
.modal-btn:hover, .modify-btn:hover{
  background-color: gainsboro;
}

.my-nav {
  background-color: #999999;
}

.category-container {
  width: 45%;
}
.my-cate {
  background-color: lightblue;
}

.delete-btn {
  border-radius: 10%;
  background-color: black;
  color: white;
}

.post-detail {
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
}

.mypage-box {
  background-color: gainsboro;
  border-radius: 0.4rem;
}